:root{
--green400: hsl(172, 67%, 45%);
--green900: hsl(183, 100%, 15%);
--grey500: hsl(186, 14%, 43%);
--grey400: hsl(184, 14%, 56%);
--grey200: hsl(185, 41%, 84%);
--grey50: hsl(189, 47%, 97%);
--white: hsl(0, 100%, 100%);  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

body{
    background: var(--grey200);
    width: 100%;
    min-height: 100vh;
    font-size: 24px;
}

.content-container{
    width: 100%;
}

header{
    /* border: 3px solid white; */
    text-align: center;
    padding: 1em 0em;
}

main{
    /* border: 3px solid white; */
    border-radius: 15px;
    background: white;
    padding: 1em;
}

/* General Styles */
/* NOTE TO SELF: REMOVE THE OUTLINE OF INPUTS IN CSS TO REMOVE THE OUTER LAYER OF THE BORDERS */
input{
    border: 3px solid var(--green900);
    border-radius: 5px;
    background: var(--grey50);
    width: 100%;
    padding: 0.5em;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}

input:focus{
    border-color: var(--green400);
    outline: none;
}

input::placeholder{
    color: var(--grey500);
}

.input-wrapper{
    border: none;
    position: relative;
}

.input-wrapper img{
    width: 0.7em;
    position: absolute;
    left: 1em;
    top: 30%;
}

.invalid-input{
    border-color: red!important;
}

.dollar-sign{
    top: 25%!important;
}

/* Display GRID*/
.tip-option, .tip-custom{
    background: var(--green900);
    color: white;
    border-radius: 5px;
    width: 100%;
    min-height: 2.5em;
    display: grid;
    place-content: center;
    text-align: center;
}

.tip-select{
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
}

.five-percent{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.ten-percent{
    grid-row: 1 / 2;
    grid-column: 2 / 3;

}

.fifteen-percent{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.twentyfive-percent{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.fifty-percent{
    grid-row: 3;
    grid-column: 1 / 2;
}

.tip-option:not(.tip-custom):active{
    background: rgb(59, 58, 58);
    color: white;
}

.tip-custom{
    border: 3px solid transparent;
    background: var(--grey50);
    color: var(--green900);
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.tip-custom:focus{
    border-color: var(--green400);
}

.active-tip{
    background: var(--green400);
    color: white;
}

.active-custom-tip{
    background: var(--grey50);
    color: var(--green900);
}

/* Tip Amount and Cut per person display */

.receipt-container{
    /* border: 3px solid red; */
    border-radius: 15px;
    background: var(--green900);
    color: var(--green400);
    margin-top: 1.5em;
    padding: 1em;
}

.receipt-content{
    /* border: 3px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    font-size: 18px!important;
}

.amount-display{
    color: white;
    font-weight: 700;
}

.per-person{
    color: var(--grey400);
}

#total-share, #tip-share{
    font-size: 2em;
    font-weight: 700;
}

.reset-button{
    background: var(--green400);
    color: var(--green900);
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 0.5em;
    font-size: 20px;
    font-weight: 700;
}

.reset-button:active{
    background: var(--grey200);
}

footer{
    margin-top: 1em;
    text-align: center;
    font-size: 16px!important;
}

@media screen and (min-width: 950px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }

    .content-container{
        width: 80%;
        max-width: 50em;
    }

    main{
        /* border: 3px solid black; */
        display: flex;
        gap: 1em;
    }

    /* DISPLAY: GRID */
    .tip-select{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .fifteen-percent{
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }

    .twentyfive-percent{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .fifty-percent{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .tip-custom{
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .calculator-container{
        flex: 1;
    }

    .receipt-container{
        flex: 1;
        margin: 0;
        padding: 2em;
        display: flex;
        flex-direction: column;
    }

    .reset-button{
        margin-top: auto;
    }
}  